{% extends 'base.html.twig' %} {% block title %}Welcome to Vienna Events{% endblock %} {% block body %}

<div class="container">
    <h1 class="text text-center text-danger"> Event Details</h1>

    <div class="row">
        <div class="card text-center align-center" style="width: 24rem;">
            <img src="{{event.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.datetime|date("F j, Y, g:i a")}}</p>
                <p class="card-text">{{event.description}}</p>
                <p class="card-text">Capacity:{{event.capacity}}</p>
                <p class="card-text">Contact e-mail:{{event.contactEmail}}</p>
                <p class="card-text">Contact Phone No.:{{event.contactphonenumber}}</p>
                <p class="card-text">Address:{{event.address}}</p>
                <p class="card-text">Event_url:{{event.eventsurl}}</p>
                <p class="card-text">{{event.eventsType}}</p>
            </div>
        </div>
    </div>
    <a href="/" class="btn btn-light text-primary">Back to Home</a>
</div>
{% endblock %}